/************
 * Nautilus *
 ************/

.nautilus-canvas-item {
  border-radius: 2px;
}

.nautilus-desktop.nautilus-canvas-item {
  color: white;
  text-shadow: 1px 1px black;
}

.nautilus-desktop.nautilus-canvas-item:active {
  color: $fg_color;
}

.nautilus-desktop.nautilus-canvas-item:selected {
  color: $selected_fg_color;
}

.nautilus-desktop.nautilus-canvas-item:active,
.nautilus-desktop.nautilus-canvas-item:hover,
.nautilus-desktop.nautilus-canvas-item:selected {
  text-shadow: none;
}
